<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bouhann.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E5255001E13949E00AF3DF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E5255141E13949E00AF3DF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E52551F1E13949E00AF3DF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
